.header {
  text-align: center;
  margin: 50px;
  font-size: 75pt;
  font-style: italic;
}

h1 {
  color: rgb(54, 103, 177);
}

h2 {
  color: rgb(54, 103, 177);
}

img {
  width: 200px;
  float: left;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 12px;
}

.row:last-child {
  background-color: rgb(192, 192, 224);
  padding: 2em;
}

.well {
  margin: 12px;
  border: 2px solid black;
  padding: 4px;
}

span.jobs {
  color: green;
}

.about {
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border: 2px solid purple;
  margin: 12px;
}

.project {
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border: 2px solid purple;
  margin: 12px;
}

.interests {
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border: 2px solid purple;
  margin: 12px;
}

.wiki li {
  background-color: aquamarine;
}

.band li {
  background-color: aquamarine;
}

.cupcake li {
  background-color: aquamarine;
}

.cookie li {
  background-color: aquamarine;
}

.year1 {
  float: right;
}

.background {
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 12px;
  border: 2px solid purple;
}

@media screen and (max-width: 700px) and (min-width: 500px) {
  body {
    background-color: black;
    color: white;
  }
}

@media screen and (max-width: 499px) and (min-width: 200px) {
  body {
    background-color: teal;
  }
}