.header {
  text-align: center;
  margin: 50px;
  font-size: 30pt;
}

h1 {
  color: rgb(54, 103, 177);
}

h2 {
  color: rgb(54, 103, 177);
}

img {
  width: 200px;
  float: left;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.row:last-child {
  background-color: rgb(192, 192, 224);
  padding: 2em;
}

.well {
  margin: 12px;
  border: 2px solid black;
  padding: 4px;
}

span.jobs {
  color: green;
}

